<% msg = 'Rails는 Ruby로 만들어진 프레임워크입니다. Rails에 영향을 받은 프레임워크에는 Catalyst와 symfony 등이 있습니다.' %>

<%= highlight(msg, 'Rails') %><br />

<%= highlight(msg, ['Rails', '프레임워크'],
  highlighter: '<a href="search?keywd=\1">\1</a>') %>
