<% content_for :extend_menu do %>
［<%= link_to '관련 정보', action: :relation %>］
［<%= link_to '다운로드', action: :download %>］
［<%= link_to '설문 조사', action: :quest %>］
<% end %>

<div id="main">
  ...컨텐츠 본문...
</div>
