<div id="list">

  <%= render partial: 'books/book', collection: @books, locals: { type: :details } %>

  <%#= render @books, type: :details %>


<%
=begin
%>
<% @books.each do |book| %>
  <%= render 'books/book', book: book, type: :details %>
<% end %>
<%
=end
%>

</div>